.title {
    text-align: center;
    padding: 10px
}

.complete-button {
    background-color: blueviolet;
    color: aliceblue;
    padding: 5px;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    width: 100px;
}

.delete-button {
    background-color: crimson;
    color: aliceblue;
    padding: 5px;
    margin: 10px 0 0 10px;
    border-radius: 5px;
}